.tiptap {
  @apply whitespace-pre-wrap leading-relaxed;
}

.tiptap p {
  @apply text-pretty proportional-nums;
  line-height: 2.15;
}

.tiptap p.is-empty::before {
  @apply text-muted float-left h-0 pointer-events-none;
  content: attr(data-placeholder);
}

.tiptap code.inline-code {
  @apply font-mono bg-primary text-primary-foreground rounded text-info-foreground text-sm p-1;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  @apply leading-snug text-pretty mt-10 mb-2 tracking-wide font-semibold text-primary;
}

.tiptap h1:first-child,
.tiptap h2:first-child,
.tiptap h3:first-child,
.tiptap h4:first-child,
.tiptap h5:first-child,
.tiptap h6:first-child {
  @apply mt-0;
}

.tiptap h1 {
  @apply text-4xl mt-10;
}

.tiptap h2 {
  @apply text-3xl mt-8;
}

.tiptap h3 {
  @apply text-2xl mt-6;
}

.tiptap h4 {
  @apply text-xl mt-4;
}

.tiptap h5 {
  @apply text-lg mt-2;
}

.tiptap h6 {
  @apply text-base mt-1;
}

.tiptap blockquote {
  @apply my-6 ml-0 pl-4 py-3 border-l-2 border-l-primary/40 rounded-r-lg;
}

.tiptap blockquote[data-callout="false"] {
  @apply !border-l-2 !border-l-primary/40 border border-card-border italic;
}

.tiptap blockquote[data-callout="true"][data-theme="danger"] {
  @apply border-l-alert-danger-border bg-alert-danger-bg text-alert-danger-text;
}

.tiptap blockquote[data-callout="true"][data-theme="info"] {
  @apply border-l-alert-info-border bg-alert-info-bg text-alert-info-text;
}

.tiptap hr {
  @apply border-b border-border my-10;
}

.tiptap img {
  @apply block h-auto my-6 max-w-full rounded-xl;
}

.tiptap img.ProseMirror-selectednode {
  outline: 3px solid var(--purple);
}

.tiptap mark {
  @apply bg-primary text-primary-foreground px-1 rounded underline;
  box-decoration-break: clone;
}

.tiptap ul[data-type="taskList"] {
  @apply list-none ml-0 p-0;
}

.tiptap ul[data-type="taskList"] li {
  @apply items-start flex;
}

.tiptap ul[data-type="taskList"] li > label {
  @apply select-none mr-3;
  flex: 0 0 auto;
}

.tiptap ul[data-type="taskList"] li > div {
  @apply items-center;
  flex: 1 1 auto;
}

.tiptap ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
}

.tiptap ul[data-type="taskList"] ul[data-type="taskList"] {
  margin: 0;
}

.tiptap input[type="checkbox"] {
  @apply rounded text-primary size-5;
  margin-top: 0.55rem;
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
}

.tiptap table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.tiptap table td,
.tiptap table th {
  @apply border relative border-card-border px-2 py-3;
  min-width: 1em;
  vertical-align: top;
}

.tiptap table td > *,
.tiptap table th > * {
  margin-bottom: 0;
}

.tiptap table th {
  @apply bg-table-background text-left font-bold;
}

.tiptap table .selectedCell:after {
  @apply pointer-events-none bg-background left-0 top-0 right-0 bottom-0 absolute;
  content: "";
  z-index: 2;
}

.tiptap table .column-resize-handle {
  @apply w-1 bg-primary absolute top-0;
  bottom: -2px;
  pointer-events: none;
  right: -2px;
}

.tiptap .tableWrapper {
  margin: 1.5rem 0;
  overflow-x: auto;
}

.tiptap.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.tiptap a {
  @apply cursor-pointer text-primary underline ease-linear duration-300 transition-colors hover:text-primary-hover;
}

.tiptap .mention {
  @apply px-1 py-0.5 text-primary-foreground bg-primary/70 rounded;
}

/* Lists */
.tiptap ul,
.tiptap ol {
  @apply min-w-full mb-4 ml-0;
  padding-left: 1.5rem;
}

/* Unordered lists */
.tiptap ul {
  @apply list-disc list-outside;
}

.tiptap li > p {
  @apply mb-0;
}

.tiptap li > ul,
.tiptap li > ol {
  @apply mt-2 mb-2 w-full;
}

.tiptap ul ul {
  list-style-type: circle;
}

.tiptap ul ul ul {
  list-style-type: square;
}

/* Ordered lists with hierarchical numbering */
.tiptap ol {
  @apply list-none pl-0;
  counter-reset: section;
}

.tiptap ol li {
  @apply flex items-start flex-wrap min-w-full;
  counter-increment: section;
}

.tiptap ol li::before {
  @apply mt-1 mr-1 shrink-0;
  content: counters(section, ".") ". ";
  min-width: 1.25rem;
}

.tiptap ol li > p {
  @apply flex-1 mb-0;
}

.tiptap ol li > ol {
  @apply ml-6;
  counter-reset: section;
}

.tiptap ol li > ul {
  @apply ml-6;
}

.tiptap ul li > ul {
  @apply ml-4;
}

.tiptap .tiptap-mathematics-render[data-type="inline-math"] {
  @apply text-sm text-center rounded-lg p-1 px-2 mx-2;
}
