.mermaid svg {
    max-width: 100%;
}

.mermaid svg text {
    font-family: "JetBrains Mono Variable", "JetBrains Mono", monospace;
}

.mermaid svg .cluster rect {
    stroke: var(--var-color-foreground);
}

.mermaid svg .edgeLabel,
.mermaid svg .labelBkg {
    background-color: var(--var-color-background);
    color: var(--var-color-foreground);
    fill: var(--var-color-background);
}
