.mermaid svg {
  max-width: 100%;
}

.mermaid svg text {
  font-family: "JetBrains Mono Variable", "JetBrains Mono", monospace;
}

.mermaid svg .cluster rect {
  stroke: hsla(var(--foreground));
}

.mermaid svg .edgeLabel,
.mermaid svg .labelBkg {
  background-color: hsla(var(--background));
  color: hsla(var(--foreground));
  fill: hsla(var(--background));
}
